/* :host {
  display: grid;
  place-items: center;
} */
.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.padded {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: -10px !important;
}
table {
  min-width: 420px;
}
::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
  padding: 12px !important;
  background-color: lightgrey;
}
#modal-content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 13;
  /* position: fixed; */
  /* place-items: center; */
}
#modal-body {
  width: 784px;
  left: 0%;
}

#modal-header {
  width: 784px;
  margin-left: 0%;
  border-bottom: 0;
  z-index: 11;
}
#modal-footer {
  width: 784px;
  height: 75px;
}
.close {
  float: right;
  height: 40px;
  width: 40px;
  opacity: 0.95;
  cursor: pointer;
}

.close:hover {
  background-color: transparent;
  border: none;
}

.form-control {
  border-radius: 10px;
}
#file-input {
  cursor: cell;
}
.example-full-width {
  width: 100%;
}
.columns {
  width: 100%;
}
#mifiles {
  width: 100%;
  border: none;
  background-color: white;
  cursor: grabbing;
  border-radius: 10px;
}
textarea {
  color: black;
  background-color: white;
}
mat-hint {
  color: red !important;
  font-size: 14px;
}
form > div.box {
  margin-top: 30px;
}
