<div id="modal-content-wrapper">
    <header id="modal-header">
        <button type="button" class="close" (click)="onClose('')" aria-label="Close">
            <span aria-hidden="true"
                style="font-weight: bolder; font-size: xx-large;line-height: 30px !important;">&times;</span>
        </button>
    </header>
    <section id="modal-body">
        <div id="newsContent">
            <div id="ContentPlaceHolder1_mansetDiv" class="sliderrr-wrapper" [ngStyle]="sliderWrapperStyle">
                <div class="bx-wrapper">
                    <div #carouselWrapper class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
                        <ul class="carousel-inner" #carousel [ngStyle]="carouselWrapStyle">
                            <li class="media-image" *ngFor="let review of news$.mediaReviews"
                                [ngSwitch]="review.has_medium">
                                <app-media-source *ngSwitchCase="false" [review]="getReview(review)">
                                </app-media-source>
                                <app-files-list *ngSwitchCase="true" [thumbName]="'medium-' + review.file_name">
                                </app-files-list>
                            </li>
                        </ul>
                    </div>
                    <div class="bx-controls bx-has-controls-direction">
                        <div class="bx-controls-direction">
                            <a class="bx-prev" (click)="prev()">Prev</a><a class="bx-next" (click)="next()">Next</a>
                        </div>
                    </div>
                </div>
                <div id="sliderrr-pager">
                    <ul class="sliderrr-page" #slider [ngStyle]="carouselPagerStyle">
                        <li *ngFor="let thumbFile of news$.mediaReviews; index as i" class="{{i===0?'active':''}}">
                            <a (click)="currentDiv(i)" style="margin-left: 5px;">
                                <app-files-list [thumbName]="'thumb-kapak-' + thumbFile.file_name"></app-files-list>
                            </a>
                        </li>
                    </ul>
                    <div style="position: relative">
                        <a class="slider-bx-prev" (click)="sliderPrev()">Prev</a><a class="slider-bx-next"
                            (click)="sliderNext()">Next</a>
                    </div>
                </div>
            </div>
            <div class="preknow">
                <span class='date pre'>{{news$.date | date:'medium'}}</span>
                <span class="pre bet">|</span>
                <span class="own pre">
                    <button (click)="onClose('url')" type="button" class="butto ripple button-outline"
                        style="margin-top: -3px; padding: 10px 10px !important;">{{ news$.owner }}</button></span>
                <span class="pre bet">|</span>
                <span class="social pre">
                    <button type="button" (click)="setSocial()" class="butto ripple button-outline"
                        style="margin-top: -3px;padding: 10px 10px !important;">Paylaş</button>
                </span>
                <span class="pre bet">|</span>
                <span class="pre" style="margin-top: 10px;"> {{ newsCounts.get(news$.id) }}</span>
            </div>
            <app-media-social [social]="social"></app-media-social>
            <h2>
                <span class="text" *ngIf="news$.topic.charAt(0)!=='#'">{{news$.topic.split('#')[0]}}</span>
                <span class="text" *ngFor="let tag of news$.tags; let i = index">
                    <a class="tag" (click)="onTagClick(tag);$event.stopPropagation();$event.preventDefault()"
                        style="font-weight: 600;color: #666666; cursor: pointer;"> {{tag}} </a>
                    {{news$.topic.split('#')[i + 1].replace(news$.tags[i].substring(1), '')}}
                </span>
            </h2>
            <div [innerHTML]="news$.summary | sanitizeHtml"></div>
            <div id="mihtml" style="padding-top: 20px"></div>
            <div id="newsTags" style="margin-bottom: 20px">
                <label *ngFor="let tag of news$.tags"><span> {{tag}} ; </span></label>
            </div>
            <div id="newsOffers" style="margin-bottom: 20px; max-width: 250px;">
                <button class="butto ripple button-outline" (click)="offersList()">Offers Made: </button>
                <span id="treq">{{news$.offers?.length}}</span>
            </div>
            <button class="butto ripple button-outline" (click)="btnClick('upload')">Give An
                Offer!!!</button>
            <app-comments [url]="'url(' + news$.ownerUrl + ')'" [isDetail]="true" [newsId]="news$.id"></app-comments>
        </div>
    </section>
    <footer id="modal-footer" style="display: flex;justify-content: space-between;">
        <button id="closes" type="button" class="butto ripple button-outline" (click)="onClose('')">Close</button>
        <app-news-manage *ngIf="isManager" [news]="news$"></app-news-manage>
    </footer>
</div>