<div class="container vh-100">
    <div class="d-flex flex-column align-items-center">
        <!-- <canvas #soundCanvas class="visualizer" height="60px" width="1000px"></canvas> -->
        <div style="display: flex; justify-content: space-evenly; width: 100%; margin-top: 15px;">
            <mat-form-field class="my-options">
                <mat-select placeholder="Select your language" [(ngModel)]="currentLanguage" [disabled]="recognizing">
                    <mat-option *ngFor="let language of languages" [value]="language"
                        (click)="onSelectLanguage(language)">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="my-options">
                <mat-select placeholder="Select target language" [(ngModel)]="targetLanguage" [disabled]="recognizing">
                    <mat-option *ngFor="let language of languages" [value]="language"
                        (click)="onSelectTargetLanguage(language)">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="my-options">
                <mat-label>Choose Cam</mat-label>
                <mat-select [formControl]="animalControl" (selectionChange)="onBookChange($event)" required>
                    <mat-option *ngFor="let food of foods | async" [value]="food">
                        {{food.deviceId}}
                    </mat-option>
                </mat-select>
                <mat-hint>{{animalControl.value?.deviceId}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="p-1">
            <video #localVideo playsinline autoplay muted controls></video>
            <!-- <video #remoteVideo1 playsinline autoplay controls></video> -->
            <!-- <video #remoteVideo2 playsinline autoplay controls></video> -->
        </div>
        <div class="p-2" style="padding-top: 20px;">
            <video #remoteVideo playsinline autoplay controls></video>
            <!-- <video #remoteVideo4 playsinline autoplay controls></video>
            <video #remoteVideo5 playsinline autoplay controls></video> -->
        </div>
        <div style="width: 100%; padding: 20px; display: flex; flex-direction: row;justify-content: space-between">
            <div style="align-items: flex-start; padding: 15px;">
                <button #startButton [disabled]="startButtonDisabled" id="micro" (click)="startCamera()"
                    class="btn btn-primary" style="max-height: 44px; min-width: max-content;">Start Webcam</button>
            </div>
            <div style="padding-left: 15px;">
                <form>
                    <mat-form-field class="speech-result-width">
                        <mat-label>Speech Input Result</mat-label>
                        <textarea #speechTextBox matInput [value]="(speechMessages|async)?.transcript"
                            placeholder="Speech Input Result" disabled="true" cdkTextareaAutosize cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                </form>
            </div>
            <div style="align-items: flex-end; min-width: 600px;">
                <ul style="float: right;">
                    <li *ngFor="let muser of userList">
                        <span>{{muser}}</span>
                        <button (click)="callUser(muser)" class="btn btn-primary"
                            style="border-width: 2px; border-color: greenyellow"> Call</button>
                        <!-- <div class="custom-file form-group">
                        <input type="file" class="custom-file-input" id="file-input" (change)="fileSelectionEvent($event)">
                        <label class="custom-file-label" for="file-input" data-browse="Media-Ekle">Media Dosyası Ekle</label>
                    </div> -->
                        <!--                    <button (click)="watchUser(muser)"> Watch</button>-->
                        <button (click)="stopSample(muser)" class="btn btn-primary"
                            style="border-width: 2px; border-color: greenyellow">Hang Up</button>
                        <button (click)="sendData(muser)" class="btn btn-primary"
                            style="border-width: 2px; border-color: greenyellow">Private Msg</button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="peerList.size > 0" class="pb-2">
            <button class="btn btn-primary" (click)="capture()">Capture Image</button>
            <!-- <button [disabled]="isRecording" (click)="record()">Record</button> -->
            <!-- <button [disabled]="!isRecording" (click)="stop()">Stop</button> -->
        </div>
        <div class="chat">
            Chat:<br />
            <textarea #textBox [disabled]="false" id="textbox" type="text" name="text"
                placeholder="Say something meaningful..." autocomplete="off" (keyup)="handleKey($event)"
                cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            <input #sendChat class="btn btn-primary" [disabled]="chatBoxDisabled" type="button" id="send" name="send"
                value="Send" (click)="handleSendButton(textBox.value)" style="vertical-align: text-bottom;">
        </div>
        <div
            style="height: auto;max-height: 400px; width: 800px;max-width: 800px;display: flex;flex-direction: column; margin-bottom: 200px;">
            <div style="flex-grow: 1; padding: 20px 30px; overflow: auto;">
                <div #privateChatBox class="privateChatBox"
                    style="display: flex; flex-direction: column;align-items: flex-start;"></div>
                <div #publicChatBox class="publicChatBox"
                    style="display: flex; flex-direction: column;align-items: flex-end;"></div>
            </div>
        </div>
        <!-- <div class="p-1">
            <canvas #canvas class="vid"></canvas>
        </div> -->
        <!-- <button (click)="camOff()" >Stop</button> -->
    </div>
</div>