<div id="modal-content-wrapper">
  <header id="modal-header" [ngStyle]="wideStyle">
    <button type="button" class="close" (click)="onClose('')" aria-label="Close">
      <span style="font-weight: bolder;font-size: x-large;line-height: 25px !important;" aria-hidden="true">&times;</span>
    </button>
  </header>
  <section id="modal-body" [ngStyle]="wideStyle">
    <p>
      Sadece Üyeler Kişi veya Etiket Takibi Yapabilirler.<br>
      Lütfen Hesabınıza <a (click)="onClose('/login')"> Giriş Yapınız</a> veya <a (click)="onClose('/register')">Üye
        Olunuz</a>
    </p>
  </section>
  <footer class="modal-footer" [ngStyle]="wideStyle">
    <button id="closes" type="button" class="butto ripple button-outline" (click)="onClose('')">Close</button>
  </footer>
</div>
