<article (click)="navigate()" [style.width.px]="this._width" [style.height]="!this._isMiddle?this._height+'px':'auto'">
  <section class="fi">
    <figure class="figure">
      <picture width="250px" height="154px">
        <source [srcset]="'assets/thumb-kapak-' + 'bae.webp'" type="image/webp">
        <source [srcset]="'assets/thumb-kapak-' + (news.thumb ? news.thumb : 'bae.jpeg')" type="image/jpeg">
        <img class="figure-img" [src]="'assets/thumb-kapak-' + (news.thumb ? news.thumb : 'bae.jpeg')" width="250px"
          height="154px" alt="hu">
      </picture>
      <!-- <figcaption>Üyelik Çok Avantajlı</figcaption> -->
    </figure>
  </section>
  <section class="prf">
    <span class='date'>{{news.date | date:'medium'}}</span>
    <h1 class="article-title">{{news.topic}}</h1>
    <p class="article-prf">Lorem ipsum dolor {{news.topics}},<br> Demanded by {{news.newsOwnerId}}.<br>
    </p>
  </section>
</article>