<article (click)="offerDetails()">
    <!-- [style.width.px]="this._width" -->
    <section class="fi">
        <figure class="figure">
            <picture width="250px" height="154px">
                <source [srcset]="'assets/thumb-kapak-' + 'bae.webp'" type="image/webp">
                <source [srcset]="'assets/thumb-kapak-' + (offer.thumb ? offer.thumb : 'bae.jpeg')" type="image/jpeg">
                <img class="figure-img" [src]="'assets/thumb-kapak-' + (offer.thumb ? offer.thumb : 'bae.jpeg')"
                    width="250px" height="154px" alt="hu">
            </picture>
            <!-- <figcaption>Üyelik Çok Avantajlı</figcaption> -->
        </figure>
    </section>
    <section class="prf">
        <span class='date'>{{offer.startDate | date:'medium'}}</span>
        <h1 class="article-title">{{offer.topic}}</h1>
        <p class="article-prf">offered by @{{offer.ownerId}} {{offer.tags}},<br> Demanded by {{offer.newsOwnerId}}.
            <br> offered price is: {{offer.price}}
        </p>
    </section>
</article>