#user-profile {
  width: 100%;
  display: grid;
  grid-template:
    "a a" auto
    "d d" auto
    "b c" 1fr / 1fr 2fr;
}
section.top {
  grid-area: a;
  position: relative;
  display: grid;
  place-items: center;
  figure.figure {
    position: relative;
    height: calc(321 * (100vw / 1536));
    .image-bg {
      height: calc(225 * (100vw / 1536));
      max-width: 100%;
      object-fit: cover;
    }
    .image-profile {
      position: absolute;
      bottom: 0;
      left: 5%;
      height: calc(192 * (100vw / 1536));
      width: calc(192 * (100vw / 1536));
      border-radius: 50%;
    }
  }
}
section.paths {
  grid-area: d;
  padding-left: 34vw;
  ol {
    list-style-type: none;
    display: flex;
    li a {
      text-decoration: none;
    }
  }
}
section.side {
  grid-area: b;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  background-color: #efefef;
}
section.center {
  grid-area: c;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
button.followee {
  cursor: pointer;
  flex-basis: 50px;
  width: 100%;
  margin: 0.25rem 0;
  border: none;
  box-shadow: 1px 1px #cbcbcb;
  font-size: calc(
    15px + (26 - 14) * ((100vw - 300px) / (1600 - 300))
  ) !important;
  &:hover,
  &:focus,
  &:active {
    background: white;
  }
}
.active {
  background: white;
}
article.resume {
  padding: 1rem;
  background: snow;
  margin: 0 0 1rem;
  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  #user-profile {
    grid-template:
      "a" auto
      "a" auto
      "d" auto
      "b" auto
      "c" 1fr / 1fr;
    gap: 0.25rem;
  }
  section.paths {
    padding-left: 5vw;
  }
}
