<div class="newst" #dataContainer appScroll (onScroll)="track($event)">
    <div *ngIf="activeLink!=null&&(activeLink.charAt(0)=='@'|| activeLink.charAt(0)=='#')"
        style="/*text-align: center;*/margin-left: 29%; padding-top: 17px;">
        <app-edit-tags-list [tags]="getLink(activeLink)" [booled]="true" [isPub]="isPub"></app-edit-tags-list>
    </div>
    <div class="newsm">
        <div class="top-tags">
            <div class="inntext">
                <div class="mytags" #mytags>
                    <h3>Trend Topics</h3>
                    <a *ngFor="let tag of newsService.topTags | async"
                        (click)="onTagClick(tag.key);$event.stopPropagation();$event.preventDefault()"
                        style="width: 200px; align-self: start;; cursor: pointer;"> {{tag.key}}</a>
                </div>
            </div>
        </div>
        <div class="sliderrr-wrapper">
            <div class="bx-wrapper">
                <div #listContainer class="mx-wrapper">
                    <ul #carousel class="carousel-inner" [ngStyle]="carouselWrapStyle">
                        <li class="media-image" *ngFor="let review of links;let i = index">
                            <app-news-list
                                [newsList]="i === 0 ? newsService.newsStreamList$ : i === 1 ? newsService.tagsStreamList$ : newsService.peopleStreamList$"
                                [percentage]="i === links.indexOf(activeLink) ? percentage : 0"
                                [activeLink]="activeLink" [currLink]="review"></app-news-list>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="reklam">
            <div class="innadds">
                <!-- <div class="myoffers" #myoffers>
                    <h3>Offers Topics</h3>
                    <a *ngFor="let tag of ['main', 'tags', 'people']"
                        (click)="onOfferTagClick(tag);$event.stopPropagation();$event.preventDefault()"
                        style="width: 200px; align-self: start;; cursor: pointer;"> {{tag}}</a>
                </div> -->
                <!-- <div class="drop"></div>
                    <div class="drop"></div>
                    <div class="drop"></div>
                    <div class="drop"></div> -->
            </div>
            <!-- <div class="img-hat"></div> -->
            <div (click)="moveTop()" class="scroll-to-top" *ngIf="percentage>50">
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>