<mat-toolbar color="primary" class="example-toolbar">
  <div id="hologo">
    <button (click)="btnClick('/home')" id="mologo" class="mat-icon-button" aria-label="Left Align">
      <div style="height: 66px;display: -webkit-box;width: 100%;justify-content: space-evenly;">
        <div class="image"></div>
        <span id="logos">Adam</span>
      </div>
    </button>
    <!-- <div>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item>Talepler</button>
        <button mat-menu-item>Teklifler</button>
      </mat-menu>
      <button class="amenu" [matMenuTriggerFor]="appMenu" (click)="$event.stopPropagation();$event.preventDefault()"
        aria-label="Right Align">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="white"
          class="mercado-match" width="24" height="24" focusable="false">
          <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z">
          </path>
        </svg>
      </button>
    </div> -->
  </div>
  <div class="navbar">
    <button #buttons mat-icon-button [matTooltip]="this.newsService.links[0]"
      (click)="navClick(this.newsService.links[0])" class="active mat-icon-button" aria-label="Center Align" autofocus>
      <div [style.display]="this.winRef.nativeWindow.innerWidth > 800?'flex':'block'">
        <mat-icon>home</mat-icon>
        <span [style.display]="this.winRef.nativeWindow.innerWidth > 800?'flex':'none'">home</span>
      </div>
    </button>
    <button #buttons mat-icon-button [matTooltip]="this.newsService.links[1]"
      (click)="navClick(this.newsService.links[1])" class="mat-icon-button"
      style="border-left: 1px solid #6d6d6d;border-right: 1px solid #6d6d6d;" aria-label="Center Align" autofocus>
      <div [style.display]="this.winRef.nativeWindow.innerWidth > 800?'flex':'block'">
        <mat-icon>filter</mat-icon>
        <span [style.display]="this.winRef.nativeWindow.innerWidth > 800 ?'flex':'none'">tags</span>
      </div>
    </button>
    <button #buttons mat-icon-button [matTooltip]="this.newsService.links[2]"
      (click)="navClick(this.newsService.links[2])" class="mat-icon-button" aria-label="Center Align" autofocus>
      <div [style.display]="this.winRef.nativeWindow.innerWidth > 800?'flex':'block'">
        <mat-icon>people</mat-icon>
        <span [style.display]="this.winRef.nativeWindow.innerWidth > 800?'flex':'none'">people</span>
      </div>
    </button>
  </div>
  <div id="hesp" [ngSwitch]="loggedinUser|async">
    <br *ngIf="newsService.newsStreamCounts$ | async">
    <div *ngSwitchCase="false" id="ltool">
      <button *ngSwitchCase="false" class="login" (click)="btnClick('/search')" aria-label="Center Align">Ara</button>
      <button *ngSwitchCase="true" mat-icon-button (click)="btnClick('/search')" class="mat-icon-button"
        matTooltip="search new contents" aria-label="Center Align">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngSwitchCase="false" class="login" (click)="btnClick('/login')" aria-label="Center Align">Giriş</button>
      <button *ngSwitchCase="true" mat-icon-button (click)="btnClick('/login')" class="mat-icon-button"
        matTooltip="login" aria-label="Center Align">
        <mat-icon>vpn_key</mat-icon>
      </button>
      <button *ngSwitchCase="false" class="register" (click)="btnClick('/register')"
        aria-label="Center Align">Kayıt</button>
      <button *ngSwitchCase="true" mat-icon-button (click)="btnClick('/register')" class="mat-icon-button"
        matTooltip="register" aria-label="Center Align">
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
    <app-logged-nav [logged]="loggedinUser|async" [isOpen]="isOpen" (logChange)="receiveMessage($event)" id="ltoolr">
    </app-logged-nav>
    <div class="menu" (click)="onMenu()">
      <input #mainput type="checkbox" hidden id="hamburger" />
      <label for="hamburger" [hidden]="isOpen">&#9776;</label>
      <label for="hamburger" [hidden]="!isOpen">&#10006;</label>
    </div>
    <div *ngSwitchCase="false" class="dropdown" id="dropdown" [class.show]="isOpen">
      <button mat-icon-button (click)="btnClick('/search')" class="mat-icon-button" matTooltip="search new contents"
        aria-label="Center Align">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-icon-button (click)="btnClick('/login')" class="mat-icon-button" matTooltip="Login"
        aria-label="Center Align">
        <mat-icon>vpn_key</mat-icon>Login
      </button>
      <button mat-icon-button (click)="btnClick('/register')" class="mat-icon-button" matTooltip="Register"
        aria-label="Center Align">
        <mat-icon>group_add</mat-icon>Register
      </button>
    </div>
  </div>
</mat-toolbar>