.login {
  border: 0;
  width: 70px;
  height: 55px;
  color: black;
  background: white;
  border-radius: 22px;
  margin-right: 15px;
  font-size: large;
  line-height: 55px !important;
}

.mat-toolbar.mat-primary {
  background: purple;
  color: #fff;
}

span.mat-button-wrapper {
  ::before,
  ::after {
    height: 55px;
  }
}
.mat-icon-button,
.mat-icon {
  width: 33%;
  height: 55px;
  line-height: 66px !important;
  font-size: inherit;
  border: none;
  cursor: pointer;
  border-radius: 0 !important;
}
.register {
  border: 0;
  width: 70px;
  height: 55px;
  color: white;
  background: #454545;
  border-radius: 22px;
  margin-right: 15px;
  font-size: large;
  line-height: 55px !important;
}
.navbar {
  background-color: darkmagenta;
  flex: 1.5 1 0;
}
#hologo {
  margin-left: 0%;
  height: inherit;
  // display: flex;
  // justify-content: space-around;
}
#mologo {
  height: 66px !important;
  padding-left: 60px;
}
@media only screen and (max-width: 1079px) {
  span.notification {
    visibility: hidden;
  }
}
@media only screen and (min-width: 1080px) {
  span.notification {
    padding: 10px;
  }
}
@media only screen and (max-width: 599px) {
  .navbar {
    width: 100%;
  }
  #hologo {
    min-width: 30%;
  }
  #ltool {
    display: none !important;
  }
  #hesp {
    min-width: 20% !important;
  }
  #mologo {
    padding-left: 0 !important;
  }
  .menu {
    display: initial !important;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    width: 100%;
  }
  #hologo {
    height: 66px !important;
    line-height: 66px !important;
    flex: 1 1 0;
  }
}
.mat-toolbar-single-row {
  height: 66px;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-around;
}
#ltool,
#ltoolr {
  display: flex;
  justify-content: center;
}
.image {
  height: 60px;
  line-height: 66px;
  width: 60px;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj4KICA8cGF0aCBkPSJNMjUsN2wyOCwzNmw0MC0xOGwtMzYsMjVsMTksNDRsLTI3LTM3bC00MSwxN2wzNi0yNnoiIGZpbGw9IiNjZmMiLz4KICA8ZWxsaXBzZSBjeD0iNTAiIGN5PSI1MCIgcng9IjMyIiByeT0iMzAiIHN0cm9rZT0iI2ZjMCIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxMSIvPgogIDxwYXRoIGQ9Ik02MywybC03LDQzbDQyLDE3bC00NS02bC0xNiw0Mmw3LC00NWwtNDItMTZsNDUsNnoiIGZpbGw9IiMzY2MiLz4KPC9zdmc+Cg==");
}
.active {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgb(255, 255, 255);
}
.navbar > button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px #9f9f9f;
}
.navbar > button {
  transition: all 0.2s ease-in-out;
}
#hesp {
  height: max-content;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}
.dropdown {
  background-color: rgb(199 115 236 / 80%);
  display: none;
  margin-top: 66px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  min-height: -webkit-fill-available;
  z-index: 6;
  width: 100%;
  button {
    color: rgb(250, 250, 250);
    padding: 20px;
    &:hover {
      color: grayscale($color: #000000);
      background-color: rgb(201 120 221 / 34%);
    }
  }
  &.show {
    display: grid;
  }
}
.menu {
  -webkit-user-select: none;
  display: none;
  justify-self: right;
  position: relative;
  user-select: none;
  input {
    -webkit-touch-callout: none;
    cursor: pointer;
    display: block;
    height: 54px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 44px;
    margin: -10px 0 0 -10px;
    z-index: 2;
  }
  label {
    color: rgb(233, 238, 225);
    font-size: 32px;
    left: 0;
    position: relative;
    top: 0;
  }
  &:hover {
    opacity: 0.5;
  }
}
.inbut {
  display: flex;
}
.amenu {
  border: 0;
  background-color: transparent;
  width: 36px;
  height: 36px;
}
.amenu:hover {
  border-radius: 50%;
  background-color: #f3f3f3;
}
