<div *ngIf="(boolUser|async) === 0" appScroll (onScroll)="track($event)">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="getNewsByOwner()">En Yeniler</button>
    <button mat-menu-item (click)="getNewsByTopHundred()">En Çok Okunanlar</button>
    <button mat-menu-item (click)="getNewsByOwnerOlder()">En Eskiler</button>
  </mat-menu>
  <button class="fes" mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon style="line-height: 1.5;">sort</mat-icon>
    <span style="font-size: large;vertical-align: super;">Sıralama</span>
  </button>
  <app-news-list [newsList]="_newsList" [percentage]="percentage" [activeLink]="service.activeLink"
    [currLink]="service.activeLink" [iWidth]="this.modalWidth"></app-news-list>
  <div (click)="moveTop()" class="scroll-to-top" *ngIf="percentage>50">
  </div>
</div>
<app-edit-profile *ngIf="(boolUser|async) === 1" [user]="user" [booled]="(boolUser|async) === 1"></app-edit-profile>
<app-profile-list *ngIf="(boolUser|async) === 2" [users]="users" [booled]="(boolUser|async) === 2"></app-profile-list>
<app-edit-tags-list *ngIf="(boolUser|async) === 3" [tags]="tagz" [booled]="(boolUser|async) === 3"
  [isPub]="isPub"></app-edit-tags-list>
<app-offer-list *ngIf="(boolUser|async) === 7" [urlis]="this.service.meOfferList$"
  [myWidth]="this.modalWidth"></app-offer-list>
<app-offer-list *ngIf="(boolUser|async) === 8"
  [urlis]="_isPublic?this.service.othersOfferList$:this.service.myOfferList$"
  [myWidth]="this.modalWidth"></app-offer-list>
<app-account-history *ngIf="(boolUser|async) === 4" [booled]="(boolUser|async) === 4"></app-account-history>
<app-money-manage *ngIf="(boolUser|async) === 5" (boolChange)="receiveMessage($event)"></app-money-manage>
<app-user-selections *ngIf="(boolUser|async) === 6" [booled]="(boolUser|async) === 6"></app-user-selections>